/* header */
header{
    padding: 38px 130px;
    background: #2A9D8F;
    width: 1440px;
    margin: auto;
}
.logo{
    vertical-align: middle;
    width: 46px;
height: 46px;
vertical-align: middle;
margin-left: 130px;
margin-right: 761px;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
.header_ul{
    font-family: 'Nerko One', cursive;
}
.header_li a{
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.header_li{
display: inline-block;
}
.middle_li{
    margin-left: 18px;
    margin-right: 18px ;
}
/* article */
.article_article{
    width: 780px;
height: 434px;
margin: auto;
margin-top: 200px;
}
.h3_article{
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
.p_article{
    color: #656565;
margin-top: 60px;
text-align: justify;
font-family: 'Nerko One', cursive;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
width: 780px;
}
.p1_article{
    color: #656565;
margin-top: 52px;
text-align: justify;
font-family: 'Nerko One', cursive;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%;
width: 780px;
}
/* section */
.section1{
    
padding: 80px 130px;
background: #C2F3EE;
width: 1440px;
margin: auto;
margin-top: 200px;
}
.section_img{
    width: 600px;
height: 560px;
vertical-align: top;

}
.div_section{
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}
.section_h3{
    color: #272727;
    width: 457px;
    font-family: 'Poppins', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px;

}
.section_p{
    width: 457px;
    color: #515151;
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 27px; 
margin-top: 27px;
}
button {
    background: #2A9D8F;
    padding: 11px 16px;
justify-content: center;
align-items: center;
color: #FFF;
margin-top: 45px;
}
button a{
    color: #FFF;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
/* section2 */
.section2{
    width: 1180px;
height: 462px;
margin: auto;
margin-top: 200px;
}
.h3_section2{
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%;
text-align: center;
}
.figure_div{
    margin-top: 54px;
}
figure{
    display: inline-block;
}
.figure2{
    margin-left: 16px;
}
.figuretext{
    width: 580px;
color: #535353;
margin-top: 36px;
font-family: 'Poppins', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.12px;
}